<div class="container-fluid mt-3 p-2 shadow">
    <div class="d-flex justify-content-between bd-highlight">
        <h4 class="ms-5 p-1 bd-highlight">ClearTrip</h4>
        <button type="button" class="me-5 p-1 bd-highlight btn-primary rounded px-3">Login/Signup</button>
    </div>
    <div class="container w-75 p-2 mt-2 shadow-sm">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
             
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav w-100 d-flex justify-content-around me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link d-flex flex-column" routerLink="/hotels" routerLinkActive="active">
                        <img src="https://i.pinimg.com/564x/26/d0/9a/26d09a278e221e55e31e13dddab2e8df.jpg" alt="" width="50" height="50">  
                         <span>Hotels</span> 
                      </a>
                    
                  </li>
                  <li class="nav-item">
                   <a class="nav-link d-flex flex-column" routerLink="/flights" routerLinkActive="active">
                        <img src="https://th.bing.com/th/id/OIP.TY7sYi9pHcuhI5WDF931uAHaGf?rs=1&pid=ImgDetMain" alt="" width="50" height="50">  
                         <span>Flights</span> 
                      </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link d-flex flex-column">
                        <img src="https://image.shutterstock.com/image-vector/homestay-logo-design-vector-260nw-1644576958.jpg" alt="" width="50" height="50">  
                          <span>  HomeStays </span>
                      </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link d-flex flex-column">
                        <img src="https://i.pinimg.com/736x/3a/75/4f/3a754f161e565d18e989f648a8f57e92.jpg" alt="" width="50" height="50">  
                          <span>Trains</span>
                      </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link d-flex flex-column">
                        <img src="https://i.pinimg.com/564x/5e/06/72/5e0672063703345443d0d6a467b3bdf1.jpg" alt="" width="50" height="50">  
                          <span>Buses</span>
                      </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link d-flex flex-column">
                        <img src="https://i.pinimg.com/236x/6a/71/0e/6a710e0e00004d9dc0d34888b0c504b7.jpg" alt="" width="50" height="50">  
                          <span>Cabs</span>
                      </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link d-flex flex-column">
                        <img src="https://image.shutterstock.com/image-vector/homestay-logo-design-vector-260nw-1644576958.jpg" alt="" width="50" height="50">  
                      <span>Holiday Packages</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    
                    <a class="nav-link d-flex flex-column">
                        <img src="https://i.pinimg.com/236x/91/38/08/913808200cda1549e96345baa178d184.jpg" alt="" width="50" height="50">  
                      <span>Holiday Packages</span>
                    </a>
                  </li>
                  
                </ul>
                
              </div>
            </div>
          </nav>
    </div>
</div>
