<div class="container">
    <h4> Select Filters</h4>
    <div *ngIf="filterObj.rating!= null">
            <h5 class="mt-3" > <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter-left" viewBox="0 0 16 16">
                <path d="M2 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5"/>
              </svg> User Ratings</h5>

              <div class="form-check" *ngFor="let items of filterObj.rating; let i =index ">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" name='sel +{{i}}' [(ngModel)]="items.isSelected" (ngModelChange)="emitdata(items)">
                <label class="form-check-label" for="flexCheckDefault">
                    {{items.filterValue}} Ratings
                </label>
              </div>
            </div>
             
            <div *ngIf="filterObj.pricePerNight!= null">
            <h5 class="mt-3" > <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter-left" viewBox="0 0 16 16">
                <path d="M2 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5"/>
              </svg>Price Per Night</h5>

              <div class="form-check" *ngFor="let items of filterObj.pricePerNight; let i =index ">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" name='price +{{i}}' [(ngModel)]="items.isSelected" (ngModelChange)="emitdata(items)">
                <label class="form-check-label" for="flexCheckDefault">
                    ₹ {{items.filterRange.min}} -- ₹ {{items.filterRange.max}}
                </label>
              </div>

            </div>
</div>

